# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
env/
venv/

# IDEs y editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store

# Archivos de base de datos local (opcional, si no quieres subir la base SQLite)
datos.db
