# Entorno virtual
env/
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs (opcional)
*.log
